<ion-header>
  <ion-navbar color="white">
    <div class="search-bar">
      <input type="text"
             [(ngModel)]="keyword"
             (change)="search($event)"
             [hidden]="!pageLoaded"
             autocorrect="off"
             placeholder="Kam jdete?">
      <div class="close-btn" [hidden]="!keyword.length" (click)="clear()">
        <ion-icon name="close"></ion-icon>
      </div>
    </div>
    <ion-buttons end>
      <button ion-button (click)="openMap()">
        <ion-icon name="pin"></ion-icon>&nbsp; Výběr
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="common-bg">
  <p style="text-align:center;color:#bbb" *ngIf="places.length==0">Nebyly nalezeny žádné místa</p>
  <ion-list>
    <ion-item *ngFor="let place of places" (click)="selectPlace(place)">
      <ion-icon name="ios-pin-outline" item-left>
      </ion-icon>
      <span class="item-icon-label">
        {{ calcDistance(place) }} km
      </span>
      <div>
        <div class="bold">{{ place.name }}</div>
        <span>{{ place.vicinity }}</span>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
