<ion-header>

  <ion-navbar color="white">
    <ion-title>{{ address ? address.formatted_address : '' }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="selectPlace()">
        Hotovo
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #map id="map"></div>
  <img class="marker" src="assets/img/pin.png" alt=""
       [ngStyle]="{top: markerFromTop + 'px', left: markerFromLeft + 'px'}">
</ion-content>
