<ion-content>
    <div padding text-center class="header">
      <div class="logo secondary-bg">
        <!-- <img src="assets/img/login.png" /> -->
        <ion-icon name="ios-car" color="light"></ion-icon>
      </div>
      <h2 ion-text color="light">{{'REGISTER' | translate}}</h2>
    </div>

  <ion-list class="list-form" padding>
    <ion-item>
        <ion-label stacked>{{'FULLNAME' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>{{'EMAIL_ADDRESS' | translate }}</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>{{'PASSWORD' | translate }} (min 6 {{'CHAR' | translate }})</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    <ion-item>
        <ion-label stacked>{{'PHONE_NUMBER' | translate }}</ion-label>
      <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
   
    <ion-item>
      <button ion-button block padding (click)="signup()">
          {{'REGISTER' | translate}}
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
    <button ion-button clear block (click)="login()">{{'LOGIN' | translate}}</button>
</ion-footer>
