<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Withdraw Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <table>
    <thead>
      <th>Date</th>
      <th>Driver Info</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let request of allrequests">
        <td>{{request.createdAt | date}}</td>
        <td>{{request.name}}
          <br/>
          <a href="#" (click)="viewDriver(request.userId)">{{request.userId}}</a>
        </td>
        <td>{{request.amount}}</td>
        <td>{{request.status}}</td>
        <td>
          <a href="#" (click)="send(request)" *ngIf="request.status == 'PENDING'">SEND</a> -
          <a href="#" *ngIf="request.status == 'PENDING'" (click)="cancel(request.key)">CANCEL</a>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>