<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{driver.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-avatar item-left>
      <img src="{{driver.photoURL}}" />
    </ion-avatar>
    <h3>{{driver.name}}</h3>
    <p>{{driver.email}}</p>
    <a ion-button item-right href="tel:{{driver.phoneNumber}}">Call: {{driver.phoneNumber}}</a>
  </ion-item>
  <ion-segment [(ngModel)]="tabs">
    <ion-segment-button value="carinfo">
      CAR INFORMATION
    </ion-segment-button>
    <ion-segment-button value="ridehistroy" (click)="getTrips()">
      Ride History
    </ion-segment-button>
    <ion-segment-button value="wallet" (click)="getWallet()">
      Wallet (${{driver.balance}})
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="tabs">
    <div *ngSwitchCase="'carinfo'">
      <ion-item>
        <ion-label stacked>CAR TYPE</ion-label>
        <ion-input type="text" [(ngModel)]="driver.type" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>PLATE NUMBER</ion-label>
        <ion-input type="text" [(ngModel)]="driver.plate"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>CAR BRAND</ion-label>
        <ion-input type="text" [(ngModel)]="driver.brand"></ion-input>
        <a *ngIf="driver.carImg != null" href="{{driver.carImg}}" target="_blank" ion-button item-right clear>View Image</a>
      </ion-item>
      <ion-item *ngIf="driver.docsURL">
        <ion-label>Documents</ion-label>
        <a href="{{driver.docsURL}}" target="_blank" ion-button item-right>View / Download</a>
      </ion-item>
      <ion-item>
        <ion-label stacked>Bank Info</ion-label>
        <ion-textarea [(ngModel)]="driver.bankinfo"></ion-textarea>
      </ion-item>
      <ion-item>
        <button ion-button block (click)="updateDriver()">Update</button>
      </ion-item>
    </div>
    <div *ngSwitchCase="'ridehistroy'">
      <ion-card *ngFor="let trip of trips">
        <ion-card-content>
          <p>{{trip.$key}}</p>
          <ion-row>
            <ion-col>
              <b style="text-align:center">FROM</b>
              <p>{{ trip.origin.vicinity }}
                <br/>
                <ion-note>{{ trip.pickedUpAt}}</ion-note>
              </p>
            </ion-col>
            <ion-col>
              <b style="text-align:center">TO</b>
              <p>{{ trip.destination.vicinity }}
                <br/>
                <ion-note>{{ trip.droppedOffAt}}</ion-note>
              </p>
            </ion-col>
          </ion-row>
          <p>Payment Mode: {{ trip.paymentMethod }}</p>
          <p>Fee: {{trip.currency}} {{trip.fee}} * {{ trip.promo}} {{trip.discount}} % = {{ trip.fee - (trip.fee * trip.discount
            / 100) }}</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'wallet'">
      <ion-item no-border *ngFor="let record of records">
        <h2>{{record.createdAt}} -
          <code>{{ record.status}} </code>
        </h2>
        <p>Txn Key: {{record.$key}}</p>
        <p>{{ record.type }} - {{ record.createdAt | date}}</p>
        <ion-note item-right> {{currency}} {{ record.amount }}</ion-note>
      </ion-item>
    </div>
  </div>
</ion-content>