page-driverinfo {
    ion-note, .note-md{
        background: #222;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
      }
      code{
        background: #8BC34A;
        padding: 0px 5px;
        color: #fff;
      }
}
